body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    text-align: center;
}

h1 {
    background-color: #0078D7;
    color: white;
    margin: 0;
    padding: 20px;
}

form {
    margin: 20px auto;
    padding: 10px;
    background: white;
    border-radius: 5px;
    width: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, button {
    padding: 10px;
    width: 90%;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #0078D7;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0053A4;
}
